.pricing-body {
    padding: 60px 0px;
}

.pink-ball-lg {
    position: absolute;
    left: 10px;
}

.pink-ball-sm {
    position: absolute;
    right: 10px;
}

.pricing-body-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.pricing-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    justify-content: center;
}

.pricing-item {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 30px 70px 0 rgb(3 15 44 / 8%);
    padding: 40px 57px;
    transition: all .3s linear 0s;
    border: 2px solid transparent;
}

.pricing-item:hover {
    border: 2px solid #f59aa0;
    box-shadow: 0 20px 40px 0 rgb(255 79 90 / 11%);
}

.pricing-item p {
    margin: 0;
    color: #132339;
    text-align: center;
    font-weight: bold;
}

.pricing-item h2 {
    font-size: 40px;
    color: #7162fd;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;

}

.pricing-item span {
    text-align: center;
    display: block;
    margin-bottom: 30px;
    color: #565c64;
}


.package-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.package-list li {
    margin-bottom: 20px;
    color: #4f5c5f;
    display: flex;
    gap: 10px;
    align-items: center;
}


.choose-plan-btn {
    outline: none;
    margin: 50px auto;
    margin-bottom: 0;
    display: block;
    color: #ff4f5a;
    font-size: 16px;
    border: 1px solid #ff4f5a;
    padding: 15px 30px;
    transition: all .3s linear 0s;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.choose-plan-btn:hover {
    color: #fff;
    border: 1px solid transparent;
    background-color: #ff4f5a;
    box-shadow: 0 20px 40px 0 rgb(255 79 90 / 16%)
}



/*...........Responsive.....................*/


@media only screen and (max-width: 750px) {
    .pricing-body {
        padding: 60px 20px;
    }

    .pricing-body-title {
        font-size: 28px;
    }

    .pricing-section {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .pricing-item {
        padding: 30px;

    }

}




@media only screen and (min-width: 751px) and (max-width: 1184px) {

    .pricing-section {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .pricing-item {
        padding: 30px;

    }


}




@media only screen and (min-width: 1185px) and (max-width: 1380px) {
    .pricing-item {
        padding: 30px;
    }

}